/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto:400,700&display=swap');

/*
COLOR PALETTE
1: #262626
2: #6D8193
3: #B5D3F4
4: #F7FAFF
*/

:root {
    --bg-color: #E8F1F2;
    --bg2-color: rgb(206, 217, 218);
    --header1-color: #011627;
    --header2-color: #2D80C4;
    --header1-active: rgb(42, 81, 117);
    --header2-active: #0381bb;
    --text-color: #212529;
    --text-color-2: #1B98E0;
    --footer-bg-color: #011627;
    --footer-header-color: rgb(124, 124, 138);
    --footer-text-color: rgb(215, 215, 235);
    --button-color: rgb(94, 156, 219);
    --button-hover-color: rgb(65, 115, 165);
}

*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.btn-info
{
    background: var(--button-color) !important;
}

.btn-info:hover
{
    background: var(--button-hover-color) !important;
}

.btn
{
    padding: 4px 6px;
    margin: 4px 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    display: block;
    max-width: 180px;
    border-radius: 4px;
    font-size: 1rem;
    text-align: left;
}

.btn-center
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
body
{
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
}

h1, h2, h3, h4, h5
{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

p {
    size: 12px;
}

.active-dark
{
    background: var(--header1-active);
}

.active-light
{
    background: var(--header2-active);
}

.header
{
    background-image: url('../img/bg1.jpg') !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 5px 5px 5px black;
    border-radius: 0px;
}

#header1
{
    background-color: var(--header1-color);
}



.carousel-caption
{
    padding-bottom: 0px;
    bottom: 0px;
}
nav
{
    background: var(--header1-color);
}

.navbar{
    padding: .5rem 12rem;
}


#footer {
    width: 100%;
    background-color: var(--footer-bg-color);
    text-align: center;
    margin-bottom: 0px !important;
    padding: 0px 400px;
}

@media only screen and (max-width: 600px) {
    .navbar
    {
        padding: .5rem .5rem;
    }
    #footer
    {
        padding: 0px 10px;
    }
}

.themenavbar
{
    color: white;
    background-color: var(--header2-color);
}

.img-responsive
{
    width: 14em;
}

.myrow .panel
{
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    padding: 14px 20px;
    margin: 10px;
}

.panel-border
{
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    
    padding: 14px 20px;
}

.myrow .panel-heading
{
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    color: var(--text-color-2);
    font-size: 1.1rem;
    margin-bottom: 10px;
    /* right: 10px; */
}

.myrow .panel-footer
{
    margin-top: 20px;
    display: block;
}




.footer-content
{
    margin-left: 2em;
    margin-right: 2em;
    padding-top: 20px;
    padding-bottom: 6px;
}

.footer-div h3
{
    font-size: 16px;
    color: var(--footer-header-color);
    margin-bottom: 16px;
    font-weight: bold;
}

.footer-div a
{
    display: block;
    color: var(--footer-text-color);
    font-size: 12px;
    margin: 5px 0px;
}

.link-div
{
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0px;
}
.link-div h3
{
    font-size: 1.1rem;
    margin-bottom: 16px;
    font-weight: bold;
}

.link-div a
{
    display: block;
    font-size: 0.9rem;
    margin-top: -1px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 6px 0px;
}

.copyright
{
    margin: 0px;
    margin-top: 20px;
    color:#9c9c9c;
    font-size: 0.8rem;
}

.carousel-img
{
    display: block;
    width: 100%;
}

.carousel-caption h1
{
    text-shadow: 2px 2px 10px black;
}

.carousel-caption p
{
    text-shadow: 2px 2px 10px black;
}

.jumbotron {
    border-radius: 0px;
    background: var(--bg2-color);
}

.themenavbar .nav-link:link, .themenavbar .navbar-brand:link,
.themenavbar .nav-link:visited, .themenavbar .navbar-brand:visited
{
    color: white;
}

.themenavbar .nav-link:active, .themenavbar .navbar-brand:active,
.themenavbar .nav-link:hover, .themenavbar .navbar-brand:hover
{
    color: rgb(206, 206, 206);
}

.container
{
    margin-top: 30px;
    margin-bottom: 30px;
}

.nav-item
{
    margin-right: 10px;
    margin-left: 10px;
}
@media only screen and (max-width: 600px) {
  .nav-item
    {
        margin-right: 0px;
        margin-left: 0px;
    }
}