.header
{
    background-image: url('../img/bg1.jpg') !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 5px 5px 5px black;
    border-radius: 0px;
}


.img-responsive
{
    width: 14em;
}


.myrow .panel
{
    border: 1px solid black;
    border-radius: 2px;
    padding: 8px;
    margin: 10px;
    box-shadow: 2px 2px 10px grey;
}