.header
{
    background-image: url('../img/bg1.jpg') !important;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

    text-shadow: 5px 5px 5px black;

    border-radius: 0px;
}
.navbar
{
    background: rgba(92, 107, 115, 1);

}
.nav-link
{
    color: white !important;
}
.nav-link:hover
{
    color: grey !important;
}

.navbar-nav
{
    background
}