* {
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}

code::before {
    font-family: sans-serif;
    content: "Code:";
    font-size: 28px;
    font-weight: bold;
    display: block;
}

code {
    font-family: monospace;
}