/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700|Roboto:400,700&display=swap');

/* Variables */
:root {
    --bg-color: #E8F1F2;
    --bg2-color: rgb(206, 217, 218);

    --navbar-color: #002442;
    --navbar-dropdown-color: #001e36;
    --navbar-text-color: rgba(255,255,255,0.5);
    --navbar-hover-color: #eeeeee;
    --navbar-active-color: white;

    --text-color: #212529;
    --text-color-2: rgb(44, 89, 116);

    --button-color: rgb(68, 161, 238);
    --button-hover-color: rgb(65, 115, 165);
    
    --footer-bg-color: #011627;
    --footer-text-color: #9c9c9c;
    --footer-height: 41px;
}

*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

html
{
    height: 100%;
}

body
{
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;

    /* Sticky footer */
    min-height:100%; 
    position:relative; 
    padding-bottom: var(--footer-height);
}

h1, h2, h3, h4, h5
{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.btn
{
    margin: 4px 0px;
    padding: 4px 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    display: inline-block;
    border-radius: 4px;
    font-size: 1rem;
}

/* No need for the LoVe HAte rule here because bootstrap does already do that */
.btn-info { background: var(--button-color) !important; }

.btn-info:hover { background: var(--button-hover-color) !important; }

.btn-center
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Other kind of button style */
.button
{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border-radius: 4px;
    font-size: 1rem;
}

/* Slidehow/carousel styling */
.carousel-caption
{
    padding-bottom: 0px;
    bottom: 0px;
}

.carousel-img
{
    display: block;
    width: 100%;
}

.carousel-caption h1
{
    text-shadow: 2px 2px 10px #000;
}

.carousel-caption p
{
    text-shadow: 2px 2px 5px #000;
}

/* Navigation menu colors */
nav { background: var(--navbar-color); }

/* Resonsive navbar & footer */
.navbar {
    padding: .5rem 12rem;
}

#footer {
    width: 100%;
    padding: 10px 0px;
    background-color: var(--footer-bg-color);
    text-align: center;
    margin-bottom: 0px !important;
    font-size: 0.9rem;
    color:var(--footer-text-color);
    /* Sticky footer */
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    height: var(--footer-height);
}

@media only screen and (max-width: 600px) {
    .navbar
    {
        padding: .5rem .5rem;
    }
    #footer
    {
        padding: 10px 0px;
        font-size: 0.7rem;
    }
}

.nav-item
{
    margin-right: 10px;
    margin-left: 10px;
}

/* Dropdown Styling */

.dropdown-menu { 
    background: var(--navbar-dropdown-color);
    border: none;
}

.dropdown-item.active {
    font-weight: bold;  
    background: var(--navbar-dropdown-color);
    color: var(--navbar-active-color); 
}

/* Dropdown LoVe HAte rule */
.dropdown-item:link, .dropdown-item:visited { 
    color: var(--navbar-text-color);
    font-weight: 600;
}

.dropdown-item:hover, .dropdown-item:active { 
    background: var(--navbar-dropdown-color);
    font-weight: bold;
    color: var(--navbar-hover-color);
}



/* Navbar fonts */
nav
{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.navbar-brand
{
    font-weight: 700;
}

/* LoVe HAte rule for the nav-links */
.nav-link:link, .nav-link:visited
{
    font-weight: 600;
}
.nav-link:hover, .nav-link:active
{
    font-weight: bold;
    color: var(--navbar-hover-color);
}

@media only screen and (max-width: 600px) {
  .nav-item
    {
        margin-right: 0px;
        margin-left: 0px;
    }
}

.img-responsive
{
    width: 14em;
}

/* Different types of containers, panels & rows */ 
.container
{
    margin-top: 30px;
    margin-bottom: 30px;
}

.panel
{
    padding: 0px 30px;
}

.panelrow .panel
{
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    padding: 14px 20px;
    margin: 10px;
}

.panelrow .panel-heading
{
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    color: var(--text-color-2);
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.panelrow .panel-footer
{
    margin-top: 20px;
    display: block;
}

.linkrow .panel
{
    padding: 14px 20px;
    margin: 10px;
}

.linkrow .panel-heading
{
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.linkrow .panel-body a
{
    display: block;
}

/* Jumotron at the top of the content */
.jumbotron {
    border-radius: 0px;
    background: var(--bg2-color);
    padding: 2rem 2rem;
}

.jumbotron h1 {
    font-size: 3.6rem;
}
@media only screen and (max-width: 400px) {
    .jumbotron h1 {
        font-size: 2.6rem;
    }
}
.jumbotron p
{
    font-style: normal;
    color: rgba(0, 0, 0, 0.8);
}

/* Footer links - LoVe HAte rule */
#footer a:link, #footer a:visited
{
    color: #e2e2e2;
}
#footer a:hover
{
    text-decoration: underline;
    color: #757575;
}
#footer a:active
{
    text-decoration: none;
    color: #575757;
}