* {
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}

body
{
    margin: 2% 10%;
}

.thememenu ul
{
    list-style-type: none;
    margin-bottom: 40px;
}

.thememenu ul li
{
    display: inline;
    padding: 0 20px;
}

code::before {    
    margin-top: 40px;
    font-family: sans-serif;
    content: "Code:";
    font-size: 28px;
    font-weight: bold;
    display: block;
}

code {
    font-family: monospace;
}